<template name="details">
	{{#with projects}}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				
				<div>

					<div class="card-content">
						<h2><span class="card-title activator grey-text text-darken-4 webly">{{title}}</span></h2>
						<hr>
						<h3 class="webly">Summary</h3>
						<div>
							<p>{{description}}</p>
						</div>

						<hr>
						<h3 class="webly">Read Me</h3>
						<div>
							<p>{{readMe}}</p>
						</div>
						<hr>
						<button><a href="{{location}}">View Source code</a></button>

					</div>

				</div>

			</div>
		</div>
		<div class="images col-md-4">
			{{#with getImgSrc picture}}
			<img class="pic" src="{{url}}" >
			{{/with}}
		</div>
		<br>
		<br>
		<br>
		

	</div>
	{{/with}}
	<div class="col-md-6 text-center">
		<h3 class="webly">Leave a comment</h3>
		{{> quickForm id="insertApplication" collection="Comments" type="insert"}}
		{{#each comments}}
		<div class="panel panel-default">
			<div class="panel-body">
				{{description}}
			</div>
		</div>
		{{/each}}
	</div>
</template>