<template name="details">
	{{#with projects}}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				
				<div>
			<!-- <div class="card-image waves-effect waves-block waves-light">

				{{#with FS.GetFile 'images' picture}}
				<img class="activator blg-img" src="{{url}}" alt="">
				{{/with}}
			</div> -->
			<div class="card-content">
				<h2><span class="card-title activator grey-text text-darken-4 webly">{{title}}</span></h2>
				<hr>
				<div>

					<div class="card-content">
						<h2><span class="card-title activator grey-text text-darken-4 webly">{{title}}</span></h2>
						<hr>
						<h3 class="webly">Summary</h3>
						<div>
							<p>{{description}}</p>
						</div>

						<hr>
						<h3 class="webly">Read Me</h3>
						<div>
							<p>{{readMe}}</p>
						</div>
						<hr>
						<button class="button" src="{{location}}">View Source code</button>

					</div>


				</div>

			</div>
		</div>
		<div class="images col-md-4">
			{{#with getImgSrc picture}}
			<img class="pic" src="{{url}}" >
			{{/with}}
		</div>
	</div>
	{{/with}}
</template>