<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KodeVilla - Central Repository of open source packages</title>

	


	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-60845517-1', 'auto');
		ga('send', 'pageview');

	</script>

</head>

<body>



</body>

<template name="index">

	<!-- Loader -->
	<div class="loader">
		<div class="loader-img"></div>
	</div>

	<!-- Top content -->
	<div class="top-content">

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">KodeVilla - Central Repository for open source projects and packages</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="scroll-link" href="#features">Features</a></li>
							<li><a class="scroll-link" href="#how-it-works">How it works</a></li>
							<li><a class="scroll-link" href="#about-us">About</a></li>
							<li><a class="scroll-link" href="#testimonials">Testimonials</a></li>
							<li><a class="btn btn-link-2" href="#">Button</a></li>
					</ul>
				</div>
			</div>
		</nav>

<!-- 		<div class="inner-bg">
			<div class="container">

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2 text">
						<h1 class="wow fadeInLeftBig">We're Coming <strong>Soon</strong></h1>
						<div class="description wow fadeInLeftBig">
							<p>
								We are working very hard on the new version of our site. It will bring a lot of new features. 
								Sign up from the form below and you'll be one of the first to know when the site is ready.
							</p>
						</div>




						<div id="getting-started"></div>
						<script type="text/javascript">
							$("#getting-started")
							.countdown("2015/03/20", function(event) {
								// $(this).text(
								// 	event.strftime('%D days %H %M:%S')
								// 	);
								// $('.days-wrapper').text(
								// 	event.strftime('%D'));

							$('.timer').countdown("2015/03/21", function(event) {
								$(this).find('.days').text(event.offset.totalDays);
								$(this).find('.hours').text(event.offset.hours);
								$(this).find('.minutes').text(event.offset.minutes);
								$(this).find('.seconds').text(event.offset.seconds);
							});



							
						});
						</script>

						<div class="timer wow fadeInUp">
							<div class="days-wrapper">
								<span class="days">3</span> <br><span class="t-text">days</span>
							</div>
							<div class="hours-wrapper">
								<span class="hours">23</span> <br><span class="t-text">hours</span>
							</div>
							<div class="minutes-wrapper">
								<span class="minutes">59</span> <br><span class="t-text">minutes</span>
							</div>
							<div class="seconds-wrapper">
								<span class="seconds">12</span> <br><span class="t-text">seconds</span>
							</div>
						</div>





						<div class="subscribe wow fadeInUp text-center">
							
							{{#autoForm collection="Emails" id="contactForm" type="insert" }}
							<div class="col-md-6">
								{{> afQuickField name="email" placeholder="Enter your email..." class="subscribe-email form-control" id="subscribe-email"}}
							</div>
							<div class="col-md-2">
								<button type="submit" id="submit" class="btn pull-right">Subscribe</button>
							</div>
							{{/autoForm}}
							<div class="success-message"></div>
							<div class="error-message"></div>
						</div>




					</div>
				</div>
			</div> -->

			<div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1 class="wow fadeInLeftBig">Tired of searching and bookmarking webpages?</h1>
                            <div class="description wow fadeInLeftBig">
                            	<p>
	                            	KodeVilla is here to help you get over the frustration of reading multiple pages in search of one code snippet, Join the KodeVilla community now.
                            	</p>
                            </div>
                            <div class="top-big-link wow fadeInUp">
                            	<a class="btn btn-link-1 scroll-link" href="#signup">Sign up now</a>
                            	<!-- <a class="btn btn-link-2 scroll-link" href="#features">Sign up now</a> -->
                            </div>
                        </div>
                        <div class="col-sm-5 form-box wow fadeInUp">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Sign up now</h3>
                            		<p>Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<span aria-hidden="true" class="fa fa-pencil"></span>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="#" method="post">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">First name</label>
			                        	<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">Last name</label>
			                        	<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">Email</label>
			                        	<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-about-yourself">About yourself</label>
			                        	<textarea name="form-about-yourself" placeholder="About yourself..." 
			                        				class="form-about-yourself form-control" id="form-about-yourself"></textarea>
			                        </div>
			                        <button type="submit" class="btn">Sign me up!</button>
			                        <div class="form-links">
			                        	<a href="#" class="launch-modal" data-modal-id="modal-privacy">Privacy Policy</a> - 
			                        	<a href="#" class="launch-modal" data-modal-id="modal-faq">FAQ</a>
			                        </div>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            

		</div>

	<!-- </div> -->

	<!-- About the new site -->
	<div class="features-container section-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 features section-description wow fadeIn">
					<h2>About KodeVilla</h2>
					<div class="divider-1 wow fadeInUp"><span></span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 features-box features-box-gray wow fadeInUp">
					<div class="features-box-icon">
						<span aria-hidden="true" class="fa fa-eye"></span>
					</div>
					<h3>Easy To Use</h3>
					<p>Don’t worry, its very easy to find your way around in this part of town. KodeVilla is pretty easy to use, and look you already have a smile on your face.</p>
				</div>
				<div class="col-sm-4 features-box wow fadeInDown">
					<div class="features-box-icon">
						<span aria-hidden="true" class="fa fa-thumbs-up"></span>
					</div>
					<h3>Responsive Design</h3>
					<p>Kodevilla provides you an intuitive interface that allows you find your way in very little steps.</p>
				</div>
				<div class="col-sm-4 features-box features-box-gray wow fadeInUp">
					<div class="features-box-icon">
						<span aria-hidden="true" class="fa fa-users"></span>
					</div>
					<h3>Big Community</h3>
					<p>At KodeVilla, be sure to connect with developers and share ideas in the community.You are not alone. KodeVilla has a big and a supporting community.</p>
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-4 features-box wow fadeInUp">
					<div class="features-box-icon">
						<span aria-hidden="true" class="fa fa-file-video-o"></span>
					</div>
					<h3>Lots Of Videos</h3>
					<p>Kodvilla has been designed for you, not just to read, but to also watch and get a practical feel of what you’ve read</p>
				</div>
				<div class="col-sm-4 features-box features-box-gray wow fadeInDown">
					<div class="features-box-icon">
						<span aria-hidden="true" class="fa fa-mobile-phone"></span>
					</div>
					<h3>Mobile App</h3>
					<p>Enjoy the smoothness of learning and interacting with KodeVilla anywhere, anytime.On the go? Take KodeVilla with you everywhere you go.</p>
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-12 section-bottom-button wow fadeInUp">
					<a class="btn btn-link-1 scroll-link" id="subscribe1" >Subscribe</a>
				</div>
			</div>
		</div>
	</div>

	<!-- How it works -->
	<div class="how-it-works-container section-container section-container-image-bg">
		<!-- <img src="/backgrounds/1.jpg" alt="" data-at2x="/backgrounds/1.jpg"> -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12 how-it-works section-description wow fadeIn">
					<h2>How it works</h2>
					<div class="divider-1 wow fadeInUp"><span></span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
					<div class="how-it-works-box-icon">
						<span aria-hidden="true" class="fa fa-pencil"></span>
						<span aria-hidden="true" class="how-it-works-step">1</span>
					</div>
					<h3>Sign up</h3>
					<p>Sign up on KodeVilla with your email address to start using our service for free</p>
				</div>
				<div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInUp">
					<div class="how-it-works-box-icon">
						<span aria-hidden="true" class="fa fa-key"></span>
						<span aria-hidden="true" class="how-it-works-step">2</span>
					</div>
					<h3>Log in</h3>
					<p>Log in to KodeVilla using the provided email address</p>
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInDown">
					<div class="how-it-works-box-icon">
						<span aria-hidden="true" class="fa fa-search-plus"></span>
						<span aria-hidden="true" class="how-it-works-step">3</span>
					</div>
					<h3>Make Search</h3>
					<p>Search or skim through the latest posts of features on KodeVilla. You see something you like? Copy code or fork code on github</p>
				</div>
				
				<div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
					<div class="how-it-works-box-icon">
						<span aria-hidden="true" class="fa fa-thumbs-up"></span>
						<span aria-hidden="true" class="how-it-works-step">4</span>
					</div>
					<h3>Start using it</h3>
					<p>Start using and customizing.Thats it. Easy huh!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 section-bottom-button wow fadeInUp">
					<a class="btn btn-link-1 scroll-link" id="subscribe2">Subscribe</a>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Call to action -->
	<div class="call-to-action-container section-container ">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
					<h2>Tired of searching and bookmarking webpages?</h2>
					<div class="divider-1 wow fadeInUp"><span></span></div>
					<p>
						KodeVilla is here to help you get over the frustration of reading multiple pages in search of one code snippet, Join the KodeVilla community now.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 section-bottom-button wow fadeInUp">
					<a class="btn btn-link-1 scroll-link" id="subscribe3">Subscribe Now</a>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 footer-social">
					<a href="http://www.facebook.com/kodevilla?notif_t=page_new_likes" target="_#"><span class="fa fa-facebook"></span></a>
					<a href="http://twitter.com/KodeVilla" target="_#"><span class="fa fa-twitter"></span></a>
					<a href="http://plus.google.com/106969904696279077365/posts" target="_#"><span class="fa fa-google-plus"></span></a>
					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 footer-copyright">

					
					&copy; KodeVilla
				</div>
			</div>
		</div>
	</footer>
	<!--<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="jquery.backstretch.min.js"></script>
	<script src="jquery.countdown.min.js"></script>
	<script src="wow.min.js"></script>
	<script src="retina-1.1.0.min.js"></script>
	<script src="jquery.magnific-popup.min.js"></script>
	<script src="scripts.js"></script>-->


</template>