<template name="layout">
	<div class="navbar col-md-12 navbar-warning">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="/kodevilla.png"></a>
		</div>
		<div class="navbar-collapse collapse navbar-warning-collapse">
			<div type="button" class="category btn btn-primary btn-lg text-center" data-toggle="modal" data-target="#newprjModal">
				Upload Project
			</div>
			{{>prjUpload}}
			
			<!-- <form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8" placeholder="Search">
			</form> -->
			<ul class="nav navbar-nav navbar-right">
				
				<li class="dropdown">
					<a href="bootstrap-elements.html" data-target="#" class=" navHeading dropdown-toggle " data-toggle="dropdown">Mobile <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{pathFor 'projectsCategory' category='android'}}">Android</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='ios'}}">iOS</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='windows'}}">Windows</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='blackberry'}}">Blackberry</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Web <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{pathFor 'projectsCategory' category='meteor'}}">MeteorJS</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='rails'}}">Rails</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='php'}}">PHP</a></li>
						<!-- <li class="divider"></li>
						<li><a href="#">Separated link</a></li> -->
					</ul>
				</li>
				<li class="dropdown">
					<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">UI/UX <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{pathFor 'projectsCategory' category='materialize'}}">Materializecss</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='jqueryui'}}">Jquery UI</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='boostrap'}}">Bootstrap</a></li>
						<!-- <li class="divider"></li>
						<li><a href="#">Separated link</a></li> -->
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<h1>YIELD</h1>
	{{>yield}}
</template>
