<template name="maintemplate">
	<div class="navbar col-md-12 navbar-warning">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="/kodevilla.png"></a>
		</div>
		<div class="navbar-collapse collapse navbar-warning-collapse">

			
			{{#if currentUser}}
			<div type="button" class="category btn btn-primary btn-lg text-center" data-toggle="modal" data-target="#newprjModal">
				Upload Project
			</div>
			{{/if}}
			

			{{>prjUpload}}
			
			<!-- <form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8" placeholder="Search">
			</form> -->
			<ul class="nav navbar-nav navbar-right">
				
				<li class="dropdown">
					<a href="bootstrap-elements.html" data-target="#" class=" navHeading dropdown-toggle " data-toggle="dropdown">Mobile <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{pathFor 'projectsCategory' category='android'}}">Android</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='ios'}}">iOS</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='windows'}}">Windows</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='blackberry'}}">Blackberry</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Web <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{pathFor 'projectsCategory' category='meteor'}}">MeteorJS</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='rails'}}">Rails</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='php'}}">PHP</a></li>
						<!-- <li class="divider"></li>
						<li><a href="#">Separated link</a></li> -->
					</ul>
				</li>
				<li class="dropdown">
					<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">UI/UX <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{pathFor 'projectsCategory' category='materialize'}}">Materializecss</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='jqueryui'}}">Jquery UI</a></li>
						<li class="divider"></li>
						<li><a href="{{pathFor 'projectsCategory' category='boostrap'}}">Bootstrap</a></li>
						<!-- <li class="divider"></li>
						<li><a href="#">Separated link</a></li> -->
					</ul>
				</li>
				
			</ul>
		</div>
	</div>

	{{>yield}}
	<!-- <div class="projects">
		<div class="row">
			<div class="col-sm-4 card-holder">
				<div class="container card android">
					<h2>Jumbotron</h2>
					<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
					<p><a class="btn btn-primary btn-lg">Learn more</a></p>
				</div>
			</div>

		</div>
	</div> -->


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>

</template>


<!-- Dropdown Structure -->
<template name="prjUpload">
	<div class="modal" id="newprjModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Add a Free Open source Project</h4>
				</div>
				<div class="modal-body">
					<!-- {{> quickForm collection="Projects" id="ProjectForm" type="insert"}} -->



					{{#autoForm collection="Projects" id="ProjectForm" type="insert"}}
					<fieldset>
						<!-- <legend>Add an Achievement or Award</legend> -->
						{{> afQuickField name='title' placeholder='what is the name of the project?'}}
						{{> afQuickField name='category'}}
						{{> afQuickField name='description' placeholder='Describe the project in 150 characters'}}
						{{> afQuickField name='readMe' rows=6 placeholder='Paste the full read Me here'}}
						{{> afQuickField name='picture' }}

						{{> afQuickField name='location' placeholder='Paste the source code link here e.g http://github/owohlet/io'}}
					</fieldset>
					<button type="submit" id="btn-submit" class="btn btn-primary">Submit</button>
					{{/autoForm}}



				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div> -->
			</div>
		</div>
	</div>


</template>



